<!-- About Section -->
<section id="about" class="container content-section text-center">


    <div class="row">

      <div class="col-lg-6 col-sm-offset-3">
        <h2>About</h2>
        <p>Wil Whiting is aimed at redefining the bespoke shirt, focussed predominantly on quality to ensure each customer receives a shirt that encompasses the true meaning of the term ‘bespoke’, as known with the traditional British tailoring community.</p>
        <p>Wil trained under one of the most renowned and last remaining bespoke shirtmaker in the world, who be-gifted him a unique pattern making formula. Even with this comprehensive foundation Wil opted to continue learning, focussed on perfecting his own pattern methodology by travelling to meet other makers around the world who supported his quest in reviving and evolving this dying craft. Using this experience Wil trained his own small team, using a combination of the traditional ‘Jermyn Street make’ and his own methodology defined by endless experimentation and advice received from other renown cutters and makers within the industry.</p>
        <p>The Wil Whiting shirt is based on the traditions of British shirt making combined with construction and sewing techniques used in tailoring and haute couture to offer a unique offering of shirt to the new age of discerning customers.  </p>
      </div>

      <!--<div class="col-sm-4">
        <img class="content-img" src="img/140A3173.jpg"></img>
      </div>-->

    </div>
</section>
