    <!-- Bespoke Section -->
    <section id="bespoke" class="content-section text-center">
        <div class="bespoke-section">
            <div class="container">
                <div class="col-lg-6 col-lg-offset-1 black-transp">
                  <h2>Bespoke</h2>
                  <p>A bespoke shirt centres around three essential elements; the fit, making and materials, achieved by meticulously understanding a customer and their individual requirements. They are guided through the process where factors such as personal style, routine and the required function are discussed to ensure the shirt is constructed in the right style and materials.</p>
                  <p>At least thirty measurements are recorded, with a posture check to ensure the shirt pattern is cut specific to the individual’s anatomy. A bespoke collar pattern is also drafted, made in their own style inline with their face and neck, proportionate to the body. With this area varying significantly from person to person, it is vital that a bespoke collar is included within the bespoke shirt process.</p>
                  <p>Once an individual’s paper pattern is cut a fitting shirt is made from trial fabric for the first fitting where it is assessed on the customer to check it cleanly follows the contours of their body. It also enables the customers to express any preferences or concerns before the final shirts are made from the customer’s specially chosen fabric.</p>
                  <p>Wil personally cuts each customer their own individual paper pattern using his unique drafting formula. All shirts are hand crafted in his own workshop enabling methodical control over the entire making process. Each shirt takes between fourteen and thirty hours to cut and sew, excluding the pattern making and fittings. In addition to this meticulous fitting process (the most important part of a bespoke shirt) all other aspects of the making are treated with the same care and importance. All fabrics are cut for full pattern matching of the stripe and checks; sewn by single needle on machine and finished with couture hand sewing; using only the highest graded fibres of fabrics and ethically sourced mother of pearl buttons. These are just a few of the wider known features, with many others unique and some a secret to the house.</p>
                </div>
            </div>
        </div>
    </section>
