    <!-- Contact Section -->
    <section id="contact" class="container content-section text-center">

        <div class="row">

          <div class="col-sm-5">
            <h2> Social</h2>
            <p>Instagram: <a href="https://www.instagram.com/wilwhiting/">@WilWhiting</a></p>
            <p><a href="https://www.instagram.com/wilwhiting/"><img src="img/wil-instagram2.jpg" style="max-width: 450px;"></img></a></p>
          </div>

          <div class="col-sm-5 col-sm-offset-1">
            <h2>Contact</h2>
            <p>Bespoke appointments: <a href="mailto:bespoke@wilwhiting.com">bespoke@wilwhiting.com</a></p>
            <p>General enquiries: <a href="mailto:contact@wilwhiting.com">contact@wilwhiting.com</a></p>
            <br/><br/>
            <h2>Trunk shows</h2>
            <p>To hear about any upcoming trunk shows, or if you wish to request one in your city please email you details to: <a href="mailto:trunkshows@wilwhiting.com">trunkshows@wilwhiting.com</a></p>
          </div>

        </div>

    </section>
